@font-face {
  font-family: "titulo";
  src: url("../../assets/fonts/titulo.otf");
  font-style: normal;
  font-weight: 300;
}

.titulo {
  font-family: titulo !important;
}

@font-face {
  font-family: "text";
  src: url("../../assets/fonts/texto-1.otf");
  font-style: normal;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}
/* colores de textos */
.text-marron{
  color: #512206 !important;
}
/* fin de colores de textos */
/* inicio de colores de fondo */
.bg-marron{
background-color: #512206 !important;
background-size: cover;
}
.bg-blanco{
  background-color: #fffbd688;
  background-size: cover;
}
.bg-negro{
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.534);
}
/* fin de colores de fondo */
