@font-face {
  font-family: "titulo";
  src: url("../../assets/fonts/titulo.otf");
  font-style: normal;
  font-weight: 300;
}

.titulo {
  font-family: titulo !important;
}

@font-face {
  font-family: "text";
  src: url("../../assets/fonts/texto-1.otf");
  font-style: normal;
}
.texto{
  font-family: text !important;
}
.text-justify {
  text-align: justify;
  text-justify: inter-word;
}
/* colores de textos */
.text-marron{
  color: #512206 !important;
}
.text-humo{
  color: #FCF3EA !important;
}
/* fin de colores de textos */

/* inicio de colores de fondo */
.bg-marron{
background-color: #512206 !important;
background-size: cover;
}
.bg-blanco{
  background-color: #fffbd688;
  background-size: cover;
}
.bg-humo{
  background-color: #FCF3EA;
  background-size: cover;
}
.bg-humo2{
  background-color: #fcf3ea77;
  background-size: cover;
}
.bg-negro{
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.534);
}
/* fin de colores de fondo */
/* Inicio Galeria */
.galeria{
  height: 100%;
  padding: 11% 1%;
  overflow: hidden;
  /* background-color: #FCF3EA;
  background-image: linear-gradient(to right, #b3501765 10%, transparent 0), linear-gradient(#af4c127a, #ad4a10ea); */
  background-size: 0.75em 100%, 100% 100%;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
.wrapper{
  position: relative;
  flex-grow: 1;
  margin: auto;
  max-width: 1200px;
  max-height: 1200px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2vmin;
  justify-items: center;
  align-items: center;
}
.wrapper IMG{
  z-index: 1;
  grid-column: span 2;
  max-width: 100%;
  margin-bottom: -52%;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: scale(1);
  transition: all 1s;
}
.wrapper IMG:nth-child(7n+1){
  grid-column: 2/span 2;
}
.wrapper IMG:hover{
  z-index: 2;
  transform: scale(2);
}
/* Fin Galeria */
/* estilo del borde de conocenos */
.box {
  /* top: 50%;
  left: 50%; */
  transform: translate3d(12%, 0, 0);
  background-color: #fcf3ea77;
  width: 100%;
  max-width: 600px;
  padding: 5px;
  border: 2px solid #512206;
}
.box:before, .box:after {
  content: "•";
  position: absolute;
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: #512206;
  border: 2px solid #512206;
  line-height: 12px;
  top: 5px;
  text-align: center;
}
.box:before {
  left: 5px;
}
.box:after {
  right: 5px;
}
.box .box-inner {
  position: relative;
  border: 2px solid #512206;
  padding: 40px;
}
.box .box-inner:before, .box .box-inner:after {
  content: "•";
  position: absolute;
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: #512206;
  border: 2px solid #512206;
  line-height: 12px;
  bottom: -2px;
  text-align: center;
}
.box .box-inner:before {
  left: -2px;
}
.box .box-inner:after {
  right: -2px;
}/* fin de los estilos del borde conocenos */
/* estilos habitaciones */
.ancho-roon{
  width: 85%;
}
/* final de estilos habitaciones */