<header-web (dataEvent)='setLanguage($event)'></header-web>
<header class="w-100 px-0 carrousel-navbar">
  <div id="carouselExampleFade" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active maximo-1">
        <img src="../../assets/image/carrousel-1.jpg" class="d-block img-fluid w-100" alt="...">
      </div>
      <div class="carousel-item maximo-1">
        <img src="../../assets/image/carrousel-2.jpg" class="d-block img-fluid w-100" alt="...">
      </div>
      <div class="carousel-item maximo-1">
        <img src="../../assets/image/carrousel-3.jpg" class="d-block img-fluid w-100" alt="...">
      </div>
      <div class="carousel-item maximo-1">
        <img src="../../assets/image/carrousel-4.jpg" class="d-block img-fluid w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="bg-contact100">
    <div class="container-contact100">
        <div class="wrap-contact100 shadow-lg">
            <div class="contact100-pic js-tilt" data-tilt>
                <img src="../../assets/image/Recursos/mensaje.png" class="img-fluid" alt="mensaje">
            </div>
            <form class="contact100-form validate-form">
                <span class="contact100-form-title titulo">
                  {{ 'contact.titulo' | translate }}
                </span>
                <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <input class="input100 texto" type="text" name="name" placeholder="{{ 'contact.name' | translate }}">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100 texto" type="text" name="email" placeholder="{{ 'contact.mail' | translate }}">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Message is required">
                    <textarea class="input100 texto" name="message" placeholder="{{ 'contact.message' | translate }}"></textarea>
                    <span class="focus-input100"></span>
                </div>
                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn texto">
                      {{ 'contact.boton' | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</header>
<footer-web></footer-web>