<header-web (dataEvent)='setLanguage($event)'></header-web>
<header class="container-fluid">
  <h1 class="heading text-marron titulo fw-bold">HOTELES<br>SAN FRANCISCO</h1>
  <div class="container-1">
      <div class="child-container-1">
          <img src="https://picsum.photos/100" alt="pic 1">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/200" alt="pic 2">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/300" alt="pic 3">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/400" alt="pic 4">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/500" alt="pic 5">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/600" alt="pic 6">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/150" alt="pic 7">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/250" alt="pic 8">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/350" alt="pic 9">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/450" alt="pic 10">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/550" alt="pic 11">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/650" alt="pic 12">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/110" alt="pic 13">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/210" alt="pic 14">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/310" alt="pic 15">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/410" alt="pic 16">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/510" alt="pic 17">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/610" alt="pic 18">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/125" alt="pic 19">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/225" alt="pic 20">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/325" alt="pic 21">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/425" alt="pic 22">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/525" alt="pic 23">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/625" alt="pic 24">
      </div>
  </div>
</header>
<section class="container-fluid py-5">
  <div class="container text-center p-5">
    <h1 class="titulo text-marron fw-bold">DISFRUTA DE NUESTRA GALERÍA</h1>
  </div>
  <div class="gallery">
    <div class="gallery__column">
      <a href="https://unsplash.com/@jeka_fe" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/_cvwXhGqG-o/300x300" alt="Portrait by Jessica Felicio" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Jessica Felicio</figcaption>
        </figure>
      </a>
      <a href="https://unsplash.com/@oladimeg" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/AHBvAIVqk64/300x500" alt="Portrait by Oladimeji Odunsi" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Oladimeji Odunsi</figcaption>
        </figure>
      </a>
      <a href="https://unsplash.com/@a2eorigins" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/VLPLo-GtrIE/300x300" alt="Portrait by Alex Perez" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Alex Perez</figcaption>
        </figure>
      </a>
    </div>
    <div class="gallery__column">
      <a href="https://unsplash.com/@noahbuscher" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/AR7aumwKr2s/300x300" alt="Portrait by Noah Buscher" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Noah Buscher</figcaption>
        </figure>
      </a>
      <a href="https://unsplash.com/@von_co" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/dnL6ZIpht2s/300x300" alt="Portrait by Ivana Cajina" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Ivana Cajina</figcaption>
        </figure>
      </a>
      <a href="https://unsplash.com/@samburriss" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/tV_1sC603zA/300x500" alt="Portrait by Sam Burriss" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Sam Burriss</figcaption>
        </figure>
      </a>
    </div>
    <div class="gallery__column">
      <a href="https://unsplash.com/@marilezhava" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/Xm9-vA_bhm0/300x500" alt="Portrait by Mari Lezhava" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mari Lezhava</figcaption>
        </figure>
      </a>
      <a href="https://unsplash.com/@ethanhaddox" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/NTjSR3zYpsY/300x300" alt="Portrait by Ethan Haddox" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Ethan Haddox</figcaption>
        </figure>
      </a>
      <a href="https://unsplash.com/@mr_geshani" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/2JH8d3ChNec/300x300" alt="Portrait by Amir Geshani" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Amir Geshani</figcaption>
        </figure>
      </a>
    </div>
    <div class="gallery__column">
      <a href="https://unsplash.com/@frxgui" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/FQhLLehm4dk/300x300" alt="Portrait by Guilian Fremaux" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Guilian Fremaux</figcaption>
        </figure>
      </a>
      <a href="https://unsplash.com/@majestical_jasmin" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/OQd9zONSx7s/300x300" alt="Portrait by Jasmin Chew" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Jasmin Chew</figcaption>
        </figure>
      </a>
      <a href="https://unsplash.com/@dimadallacqua" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/XZkEhowjx8k/300x500" alt="Portrait by Dima DallAcqua" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Dima DallAcqua</figcaption>
        </figure>
      </a>
    </div>
  </div>
</section>
<footer-web></footer-web>