<header-web (dataEvent)='setLanguage($event)'></header-web>
<header class="container-fluid px-0 carrousel-navbar">
  <img src="../../assets/image/Recursos/sanfrancisco.png" class="img-fluid w-100" alt="">
  <div class="container-1">
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-1.jpg" alt="pic 1">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-2.jpg" alt="pic 2">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-3.jpg" alt="pic 3">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-4.jpg" alt="pic 4">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-5.jpg" alt="pic 5">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-6.jpg" alt="pic 6">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-7.jpg" alt="pic 7">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-8.jpg" alt="pic 8">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-9.jpg" alt="pic 9">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-4.jpg" alt="pic 10">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-11.jpg" alt="pic 11">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-2.jpg" alt="pic 12">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-10.jpg" alt="pic 13">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-9.jpg" alt="pic 14">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-8.jpg" alt="pic 15">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-7.jpg" alt="pic 16">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-6.jpg" alt="pic 17">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-5.jpg" alt="pic 18">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-4.jpg" alt="pic 19">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-3.jpg" alt="pic 20">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-2.jpg" alt="pic 21">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-10.jpg" alt="pic 22">
      </div>
      <div class="child-container-1">
          <img src="../../assets/image/Galeria/general/foto-1.jpg" alt="pic 23">
      </div>
      <div class="child-container-1">
          <img src="https://picsum.photos/625" alt="pic 24">
      </div>
  </div>
</header>
<section class="container-fluid py-5">
  <div class="container text-center p-5">
    <h1 class="titulo text-marron fw-bold">DISFRUTA DE NUESTRA GALERÍA</h1>
  </div>
  <div class="gallery">
    <div class="gallery__column">
      <a href="#" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="../../assets/image/Galeria/general/g-1.jpg" alt="Portrait by Jessica Felicio" class="gallery__image">
          <figcaption class="gallery__caption">SAN FRANCISCO HOTELES</figcaption>
        </figure>
      </a>
      <a href="#" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="../../assets/image/Galeria/general/g-3.jpg" alt="Portrait by Oladimeji Odunsi" class="gallery__image">
          <figcaption class="gallery__caption">San Francisco Plaza</figcaption>
        </figure>
      </a>
    </div>
    <div class="gallery__column">
      <a href="#" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="../../assets/image/Galeria/general/g-8.jpg" alt="Portrait by Noah Buscher" class="gallery__image">
          <figcaption class="gallery__caption">San Francisco Inka</figcaption>
        </figure>
      </a>
      <a href="#" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="../../assets/image/Galeria/general/g-5.jpg" alt="Portrait by Ivana Cajina" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Ivana Cajina</figcaption>
        </figure>
      </a>
      <a href="#" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="../../assets/image/Galeria/general/g-6.jpg" alt="Portrait by Sam Burriss" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Sam Burriss</figcaption>
        </figure>
      </a>
    </div>
    <div class="gallery__column">
      <a href="#" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="../../assets/image/Galeria/general/g-7.jpg" alt="Portrait by Mari Lezhava" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mari Lezhava</figcaption>
        </figure>
      </a>
      <a href="#" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="../../assets/image/Galeria/general/g-12.jpg" alt="Portrait by Ethan Haddox" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Ethan Haddox</figcaption>
        </figure>
      </a>
      <a href="#" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="../../assets/image/Galeria/general/g-9.jpg" alt="Portrait by Amir Geshani" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Amir Geshani</figcaption>
        </figure>
      </a>
    </div>
    <div class="gallery__column">
      <a href="#" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="../../assets/image/Galeria/general/g-4.jpg" alt="Portrait by Guilian Fremaux" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Guilian Fremaux</figcaption>
        </figure>
      </a>
      <a href="#" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="../../assets/image/Galeria/general/g-11.jpg" alt="Portrait by Jasmin Chew" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Jasmin Chew</figcaption>
        </figure>
      </a>
      <a href="#" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="../../assets/image/Galeria/general/g10.jpg" alt="Portrait by Dima DallAcqua" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Dima DallAcqua</figcaption>
        </figure>
      </a>
      <a href="#" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="../../assets/image/Galeria/general/g-13.jpg" alt="Portrait by Alex Perez" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Alex Perez</figcaption>
        </figure>
      </a>
    </div>
  </div>
</section>
<footer-web></footer-web>