<header class="container-fluid px-0 py-0">
  <nav class="navbar navbar-expand-md"  style="z-index: 1;">
    <div class="container px-lg-5 px-0 py-n1 bg-blanco">
      <a class="navbar-brand me-2" href=#>
        <img src="../../assets/image/Recursos/logo-1.png" class="img-fluid" width="80%" alt="">
        <!-- <i class="fab fa-affiliatetheme fs-2"></i> -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainMenu">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div class="d-flex align-items-center">
          <ul class="nav justify-content-end titulo">
            <li class="nav-item">
              <a class="nav-link fw-bold" aria-current="page" routerLink="/home"  routerLinkActive="activo">Home</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Certificacion
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/ceba">C.E.B.A</a></li>
                <li><a class="dropdown-item" routerLink="/pronoe">Pronoe</a></li>
              </ul>
            </li> -->
            <li class="nav-item">
              <a class="nav-link fw-bold" routerLink="/hotelinka" routerLinkActive="activo">S.F Inka</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold"  routerLink="/hotelplaza" routerLinkActive="activo">S.F Plaza</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" routerLink="/hotelcusco" routerLinkActive="activo">S.F Cusco</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" routerLink="/horario" routerLinkActive="activo">Galeria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" routerLink="/contacto" routerLinkActive="activo">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>