.border-1 {
  border-bottom: #512206 5px solid;
  margin-top: -15px !important;
}

#mainMenu div>ul>li>a {
  color: rgb(81, 34, 6);
  font-weight: bold;
  transition: 0.3s;
}

#mainMenu div>ul>li>a:hover {
  color: white;
  font-weight: bold;
  background-color: rgba(69, 49, 43, 0.856);
  transition: 0.3s;
}

.activo {
  color: white !important;
  font-weight: bold;
  background-color: rgba(69, 49, 43, 0.856) !important;
  transition: 0.3s;
}

.container-h {
  width: 100%;
  padding: 0 5%;
}

.drop {
  text-align: center;
  margin: 0 !important;
  min-width: 62px;
  padding: auto;
  background-color: rgba(255, 255, 255, 0.452);
}
.drop li:hover{
  background-color: rgba(252, 243, 234, 0.467);
}

.drop li a {
  font-size: 12px;
  color: #512206;
  text-decoration: none;
}

/* .rojo >a:hover{
      color: #faa831 !important;
      font-weight: bold;
      background-color: rgb(255, 255, 255);
      transition: 0.3s;
    }
    .rojo >i:active{
      color: #faa831 !important;
      font-weight: bold;
      background-color: white;
      padding: 2px;
    } */