<header class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container py-n1">
      <a class="navbar-brand me-2" href=#>
        <i class="fab fa-affiliatetheme fs-2"></i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div class="d-flex align-items-center">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/nosotros">Hotel-1</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Certificacion
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/ceba">C.E.B.A</a></li>
                <li><a class="dropdown-item" routerLink="/pronoe">Pronoe</a></li>
              </ul>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" routerLink="/horario">Hotel-2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/horario">Hotel-3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/horario">Galeria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contacto">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
