<header-web (dataEvent)='setLanguage($event)'></header-web>
<section class="w-100 px-0 carrousel-navbar">
  <div id="carouselExampleFade" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active maximo-1">
        <img src="../../assets/image/carrousel-1.jpg" class="d-block img-fluid w-100" alt="...">
      </div>
      <div class="carousel-item maximo-1">
        <img src="../../assets/image/carrousel-2.jpg" class="d-block img-fluid w-100" alt="...">
      </div>
      <div class="carousel-item maximo-1">
        <img src="../../assets/image/carrousel-3.jpg" class="d-block img-fluid w-100" alt="...">
      </div>
      <div class="carousel-item maximo-1">
        <img src="../../assets/image/carrousel-4.jpg" class="d-block img-fluid w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="m-5">
    <div class="container-fluid">
      <section class="w-100">
        <div class="grid row d-flex justify-content-center">
          <div class="col-12 p-3 text-center">
            <h1 class="fw-bold text-dark mb-0 titulo text-marron sombra-titulo">{{ 'home.title' | translate }}</h1>
            <h4 class="text-marron texto">{{ 'home.subtitle' | translate }}</h4>
          </div>
          <!-- <div class="col-12 px-5 pb-3 text-center w-100">
            <h1 class="fw-bold">Nuestros Hoteles</h1>
          </div> -->
          <figure class="effect-lily focus col-4 px-0">
            <img src="../../assets/image/Hoteles/hotel-3.jpg" class="img-fluid" alt="img1" />
            <figcaption>
              <div class="text-center">
                <h2 class="titulo text-center text-marron mb-3 mt-0 lh-1"><a routerLink="/hotelinka"><span
                      class="hotel">{{ 'home.hotel' | translate }}</span><br>{{ 'home.hotel1' | translate }}</a><br><small
                    class="estrella-1"><i class="fas fa-star mt-2 mb-1"></i><i class="fas fa-star mt-2 mb-1 mx-1"></i><i
                      class="fas fa-star mt-2 mb-1"></i><i class="fas fa-star mt-2 mb-1 ms-1"></i></small></h2>
                <p class="fw-bold text-justify lh-1 texto" id="primero">{{ 'home.hotel1_desc' | translate }}</p>
              </div>
            </figcaption>
          </figure>
          <figure class="effect-lily focus col-4 px-0">
            <img src="../../assets/image/Hoteles/hotel-2.jpg" class="img-fluid" alt="img2" />
            <figcaption>
              <div class="text-start">
                <h2 class="titulo text-center text-marron mb-3 mt-0 lh-1"><a routerLink="/hotelplaza"
                    class="enlace-1"><span
                      class="hotel">{{ 'home.hotel' | translate }}</span><br>{{ 'home.hotel2' | translate }}</a><br><small
                    class="estrella-1"><i class="fas fa-star mt-2 mb-1"></i><i class="fas fa-star mt-2 mb-1 mx-1"></i><i
                      class="fas fa-star mt-2 mb-1"></i></small></h2>
                <p class="fw-light text-justify lh-1 texto">{{ 'home.hotel2_desc' | translate }}</p>
              </div>
            </figcaption>
          </figure>
          <figure class="effect-lily focus col-4 px-0">
            <img src="../../assets/image/Hoteles/hotel-1.jpg" class="img-fluid" alt="img3" />
            <figcaption>
              <div class="text-start">
                <h2 class="titulo text-center text-marron mb-3 mt-0 lh-1"><a routerLink="/hotelcusco"
                    class="enlace-1"><span
                      class="hotel">{{ 'home.hotel' | translate }}</span><br>{{ 'home.hotel3' | translate }}</a><br><small
                    class="estrella-1"><i class="fas fa-star mt-2 mb-1"></i><i class="fas fa-star mt-2 mb-1 mx-1"></i><i
                      class="fas fa-star mt-2 mb-1"></i></small></h2>
                <p class="fw-light text-justify lh-1 texto">{{ 'home.hotel3_desc' | translate }}</p>
              </div>
            </figcaption>
          </figure>
        </div>
      </section>
    </div>
  </div>
  <div class="container pb-5 pt-2">
    <div class="row">
      <div class="col-8 offset-2">
        <div class='box'>
          <div class='box-inner text-center'>
            <h4 class="card-title titulo text-marron">{{ 'conocenos' | translate }}</h4>
            <p class="card-text text-start texto lh-sm">{{ 'home.conocenos_desc' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid px-0">
  <div class="row fondo-valores px-5">
    <div class="col-12">
      <div class="row container-1">
        <div class="card-1 col-md-3 col-12">
          <div class="face face1">
            <div class="content">
              <div class="icon">
                <i class="fas fa-bullseye ico" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <h3 class="fw-bold titulo text-marron">{{ 'home.mision' | translate }}</h3>
              <p class="texto lh-sm fw-bold">{{ 'home.mision_desc' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="card-1 col-md-3 col-12">
          <div class="face face1">
            <div class="content">
              <div class="icon">
                <i class="fas fa-eye ico" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <h3 class="fw-bold titulo text-marron">{{ 'home.mision' | translate }}</h3>
              <p class="texto lh-sm fw-bold">{{ 'home.mision_desc' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="card-1 col-md-3 col-12">
          <div class="face face1">
            <div class="content">
              <div class="icon">
                <i class="fas fa-hands ico" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <h3 class="fw-bold titulo text-marron">{{ 'home.valores' | translate }}</h3>
              <p class="texto lh-sm fw-bold">{{ 'home.valores_desc' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 text-center">
    <h1 class="display-2 titulo text-marron mb-0 mt-3">{{ 'home.title2' | translate }}</h1>
    <div class="galeria">
      <div class="wrapper imagenes">
        <img src="../../assets/image/Galeria/foto-1.jpg" class="imagen" alt="">
        <img src="../../assets/image/Galeria/foto-2.jpg" class="imagen" alt="">
        <img src="../../assets/image/Galeria/foto-3.jpg" class="imagen" alt="">
        <img src="../../assets/image/Galeria/foto-4.jpg" class="imagen" alt="">
        <img src="../../assets/image/Galeria/foto-5.jpg" class="imagen" alt="">
        <img src="../../assets/image/Galeria/foto-6.jpg" class="imagen" alt="">
        <img src="../../assets/image/Galeria/foto-7.jpg" class="imagen" alt="">
        <img src="../../assets/image/Galeria/foto-8.jpg" class="imagen" alt="">
        <img src="../../assets/image/Galeria/foto-11.jpg" class="imagen" alt="">
        <img src="../../assets/image/Galeria/foto-10.jpg" class="imagen" alt="">
      </div>
    </div>
  </div>
  <div class="row d-flex align-items-center bg-humo py-5">
    <div class="col-md-6 col-12 order-md-1 order-1 bg-danger px-0">
      <img src="../../assets/image/Recursos/nuestro.jpg" class="img-fluid w-100" alt="">
    </div>
    <div class="col-md-6 col-12 order-md-2 order-2 py-md-0 py-5">
      <div class="container text-start">
        <h3 class="fw-bold titulo text-marron"><u>{{ 'home.hoteles' | translate }}</u></h3>
        <p class="fw-normal text-justify texto lh-sm">{{ 'home.hoteles_desc' | translate }}</p>
      </div>
    </div>
    <div class="col-md-6 col-12 order-md-3 order-4 py-5">
      <div class="container text-start py-0">
        <h3 class="fw-bold titulo text-marron"><u>{{ 'home.personal' | translate }}</u></h3>
        <p class="fw-normal text-justify texto lh-sm">{{ 'home.personal_desc' | translate }}</p>
      </div>
    </div>
    <div class="col-md-6 col-12 oreder-md-4 order-3 px-0">
      <img src="../../assets/image/Recursos/personal.jpg" class="img-fluid w-100" alt="">
    </div>
  </div>
  <div class="px-5 fondo-servicios">
    <div class="container bg-marron2 py-5">
      <div class="row d-flex align-items-center">
        <div class="col-md-4 col-12 py-5 px-lg-5 px-1 text-start text-marron">
          <h4 class="mb-0 text-center fw-bold titulo text-humo">{{ 'home.servicios' | translate }}</h4>
          <p class="mt-1 ps-2 lh-1 text-justify texto text-white fw-bold">{{ 'home.servicios_desc' | translate }}</p>
        </div>
        <div class="col-md-8 col-12">
          <div class="row text-white texto d-flex justify-content-evenly">
            <div class="col-md-3 col-6 py-3 px-2 text-center lh-sm">
              <img src="../../assets/image/Recursos/ico-9.png" class="img-fluid mb-2" alt="">
              <h5 class="mb-0 fw-bold titulo text-start">{{ 'transporte' | translate }}</h5>
              <p class="mt-0 lh-1 text-start"><small>{{ 'transporte_desc' | translate }}</small>
              </p>
            </div>
            <div class="col-md-3 col-6 py-3 px-2 text-center lh-sm">
              <img src="../../assets/image/Recursos/ico-1.png" class="img-fluid mb-2" alt="">
              <h5 class="mb-0 fw-bold titulo text-start">{{ 'bar' | translate }}</h5>
              <p class="mt-0 lh-sm text-start"><small>{{ 'bar_desc' | translate }}</small></p>
            </div>
            <div class="col-md-3 col-6 py-3 px-2 text-center lh-sm">
              <img src="../../assets/image/Recursos/ico-4.png" class="img-fluid mb-2" alt="">
              <h5 class="mb-0 fw-bold titulo">{{ 'wifi' | translate }}</h5>
              <p class="mt-0 lh-1 text-start"><small>{{ 'wifi_desc' | translate }}</small></p>
            </div>
            <div class="col-md-3 col-6 py-3 px-2 text-center lh-sm">
              <img src="../../assets/image/Recursos/ico-8.png" class="img-fluid mb-2" alt="">
              <h5 class="mb-0 fw-bold titulo text-start">{{ 'telefono' | translate }}</h5>
              <p class="mt-0 lh-1 text-start"><small>{{ 'telefono_desc' | translate }}</small></p>
            </div>
            <div class="col-md-3 col-6 py-3 px-2 text-center lh-sm">
              <img src="../../assets/image/Recursos/ico-5.png" class="img-fluid mb-2" alt="">
              <h5 class="mb-0 fw-bold titulo text-start">{{ 'informacion' | translate }}</h5>
              <p class="mt-0 lh-1 text-start"><small>{{ 'informacion_desc' | translate }}</small>
              </p>
            </div>
            <!-- <div class="col-3 py-3 px-1 text-start lh-sm">
              <img src="../../assets/image/Recursos/ico-7.png" class="img-fluid mb-2" alt="">
              <h5 class="mb-0 fw-bold titulo">Ascensor</h5>
              <p class="mt-0">Lorem ipsum dolor sit amet.</p>
            </div>             -->
            <div class="col-md-3 col-6 py-3 px-2 text-center lh-sm">
              <img src="../../assets/image/Recursos/ico-6.png" class="img-fluid mb-2" alt="">
              <h5 class="mb-0 fw-bold titulo text-start">{{ 'equipaje' | translate }}</h5>
              <p class="mt-0 lh-1 text-start"><small>{{ 'equipaje_desc' | translate }}</small></p>
            </div>
            <div class="col-md-3 col-6 py-3 px-2 text-center lh-sm">
              <img src="../../assets/image/Recursos/ico-2.png" class="img-fluid mb-2" alt="">
              <h5 class="mb-0 fw-bold titulo text-start">{{ 'restaurant' | translate }}</h5>
              <p class="mt-0 lh-1 text-start"><small>{{ 'restaurant_desc' | translate }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<article class="w-100">
  <div class="container-fluid mt-5">
    <h1 class="text-center fw-bold text-marron titulo">{{ 'home.galeria' | translate }}</h1>
    <div class="row d-flex align-items-center mt-5">
      <div class="col-md-5 col-12 text-center">
        <img src="../../assets/image/Recursos/Sonesta.png" class="img-fluid" width="40%" alt="">
        <div class="container px-5">
          <h3 class="text-marron titulo">{{ 'home.name' | translate }}</h3>
          <p class="text-justify fw-light lh-1 texto">{{ 'home.hotel_desc' | translate }}</p>
        </div>
      </div>
      <div class="col-md-7 col-12">
        <div class="carousel" data-flickity='{ "fullscreen": true, "lazyLoad": 2, "autoPlay": true}'>
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c1.jpg" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c2.jpg" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c3.jpg" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c4.jpg" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c5.jpg" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c6.jpg" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c7.jpg" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c8.JPG" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c9.JPG" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c10.JPG" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c11.JPG" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c12.JPG" />
        </div>
      </div>
    </div>
  </div>
  <div class="mx-0 py-3">
    <div class="container mx-auto contact-form">
      <div class="contact-image">
        <img src="../../assets/image/Recursos/logo-forn.png" alt="rocket_contact" />
      </div>
      <form method="post">
        <h3 class="text-marron titulo">{{ 'home.contacto' | translate }}</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" name="txtName" class="form-control formulario texto" placeholder="{{ 'home.nombre' | translate }}"
                value="" />
            </div>
            <div class="form-group my-2">
              <input type="text" name="txtEmail" class="form-control formulario texto" placeholder="{{ 'home.email' | translate }}"
                value="" />
            </div>
            <div class="form-group">
              <input type="text" name="txtPhone" class="form-control formulario texto" placeholder="{{ 'home.telefono' | translate }}"
                value="" />
            </div>
            <div class="form-group my-2 text-start">
              <input type="submit" name="btnSubmit" class="btnContact texto" value="{{ 'home.enviar' | translate }}" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <textarea name="txtMsg" class="form-control formulario texto" placeholder="{{ 'home.mensaje' | translate }}"
                style="width: 100%; height: 175px"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</article>
<footer-web></footer-web>