<header-web (dataEvent)='setLanguage($event)'></header-web>
<section class="w-100 px-0 carrousel-navbar">
  <div id="carouselExampleFade" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active maximo-1">
        <img src="../../assets/image/carrousel-1.jpg" class="d-block img-fluid w-100" alt="...">
      </div>
      <div class="carousel-item maximo-1">
        <img src="../../assets/image/carrousel-2.jpg" class="d-block img-fluid w-100" alt="...">
      </div>
      <div class="carousel-item maximo-1">
        <img src="../../assets/image/carrousel-3.jpg" class="d-block img-fluid w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="m-5">
    <div class="container-fluid">
      <section class="w-100">
        <div class="grid row d-flex justify-content-center">
          <div class="col-12 p-3 text-center">
            <h1 class="fw-bold text-dark mb-0 titulo text-humo sombra-titulo">HOTELES SAN FRANCISCO</h1>
            <h4 class="text-marron texto">Somos una empresa con más de 12 años en el sector hotelero.</h4>
          </div>
          <!-- <div class="col-12 px-5 pb-3 text-center w-100">
            <h1 class="fw-bold">Nuestros Hoteles</h1>
          </div> -->
          <figure class="effect-lily focus col-4 px-0">
            <img src="../../assets/image/Hoteles/hotel-1.jpg" class="img-fluid" alt="img1" />
            <figcaption>
              <div class="text-center">
                <h2 class="titulo text-center text-white sonbra-2 fw-bold mb-3 mt-0 lh-1"><small
                    class="hotel">Hotel</small><br><a href="" class="enlace-1">San Francisco Plaza</a></h2>
                <p class="fw-bold text-justify lh-1 texto">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Quas,
                  officiis.</p>
              </div>
            </figcaption>
          </figure>
          <figure class="effect-lily focus col-4 px-0">
            <img src="../../assets/image/Hoteles/hotel-2.jpg" class="img-fluid" alt="img2" />
            <figcaption>
              <div class="text-start">
                <h2 class="titulo text-center text-white sonbra-2 mb-3 mt-0 lh-1"><small
                    class="hotel">Hotel</small><br><a href="" class="enlace-1">San Francisco Cusco</a></h2>
                <p class="fw-light text-justify lh-1 texto">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Quas,
                  officiis.</p>
              </div>
            </figcaption>
          </figure>
          <figure class="effect-lily focus col-4 px-0">
            <img src="../../assets/image/Hoteles/hotel-3.jpg" class="img-fluid" alt="img3" />
            <figcaption>
              <div class="text-start">
                <h2 class="titulo text-center text-white sonbra-2 mb-3 mt-0 lh-1"><small
                    class="hotel">Hotel</small><br><a href="" class="enlace-1">San Francisco Inka</a></h2>
                <p class="fw-light text-justify lh-1 texto">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Quas,
                  officiis.</p>
              </div>
            </figcaption>
          </figure>
        </div>
      </section>
    </div>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-8 offset-2">
        <div class='box'>
          <div class='box-inner text-center'>
            <h4 class="card-title titulo text-marron">CONOCENOS</h4>
            <p class="card-text text-start texto lh-sm">Somos una cadena hotelera peruana y cusqueña, enfocada en
              brindar a nuestros huéspedes una experiencia diferente y llena de momentos inolvidables. Nuestros hoteles
              están particularmente ubicados dentro los sitios de mayor interés, con una decoración y arquitectura
              colonial y moderna dando así una experiencia única.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid px-0">
  <div class="row fondo-valores px-5">
    <div class="col-lg-10 offset-lg-1 col-12">
      <div class="container-1">
        <div class="card-1">
          <div class="face face1">
            <div class="content">
              <div class="icon">
                <i class="fas fa-bullseye ico" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <h3 class="fw-bold titulo text-marron">Mision</h3>
              <p class="texto lh-sm fw-bold">Brindar una experiencia única a todos nuestros clientes.</p>
            </div>
          </div>
        </div>
        <div class="card-1">
          <div class="face face1">
            <div class="content">
              <div class="icon">
                <i class="fas fa-eye ico" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <h3 class="fw-bold titulo text-marron">Vision</h3>
              <p class="texto lh-sm fw-bold">Ser una de las cadenas hoteleras mejor reconocidas a nivel nacional.</p>
            </div>
          </div>
        </div>
        <div class="card-1">
          <div class="face face1">
            <div class="content">
              <div class="icon">
                <i class="fas fa-hands ico" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <h3 class="fw-bold titulo text-marron">Valores</h3>
              <p class="texto lh-sm fw-bold">Respeto, Empatía, Responsabilidad, Honestidad y Solidaridad</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100">
    <div class="galeria">
      <div class="wrapper">
        <img src="https://source.unsplash.com/random/600x600?water" alt="">
        <img src="https://source.unsplash.com/random/600x600?summer" alt="">
        <img src="https://source.unsplash.com/random/600x600?plants" alt="">
        <img src="https://source.unsplash.com/random/600x600?snow" alt="">
        <img src="https://source.unsplash.com/random/600x600?roses" alt="">
        <img src="https://source.unsplash.com/random/600x600?sky" alt="">
        <img src="https://source.unsplash.com/random/600x600?nature" alt="">
        <img src="https://source.unsplash.com/random/600x600?blossom" alt="">
        <img src="https://source.unsplash.com/random/600x600?ice" alt="">
        <img src="https://source.unsplash.com/random/600x600?spring" alt="">
      </div>
    </div>
  </div>
  <div class="row d-flex align-items-center bg-humo py-5">
    <div class="col-6 bg-danger px-0">
      <img src="../../assets/image/Recursos/nuestro.jpg" class="img-fluid w-100" alt="">
    </div>
    <div class="col-6 py-5">
      <div class="container text-start py-0">
        <h3 class="fw-bold titulo text-marron"><u>NUESTRO HOTEL</u></h3>
        <p class="fw-normal text-justify texto lh-sm"><small>A la actualidad la cadena San Francisco comprende 3 hoteles
            dentro de la
            ciudad del cusco: San Francisco Plaza y San Francisco Cusco, ambas de categoría 3 estrellas y nuestro nuevo
            Hotel San Francisco Inka; este ultimo de categoría 4 estrellas.</small></p>
      </div>
    </div>
    <div class="col-6 py-5">
      <div class="container text-start py-0">
        <h3 class="fw-bold titulo text-marron"><u>NUESTRO PERSONAL</u></h3>
        <p class="fw-normal text-justify texto lh-sm"><small>Año tras año recibimos un gran número de huéspedes,
            personas que de
            distintas nacionalidades han sido parte de nuestro hotel y servicios, de los cuales muchos de ellos se han
            llevado grandes recuerdos de confort, atención y calidez; esto de la mano de nuestros colaboradores, que
            cada
            día dan lo mejor de ellos para hacer que la experiencia sea más que un recuerdo.</small></p>
      </div>
    </div>
    <div class="col-6 px-0">
      <img src="../../assets/image/Recursos/personal.jpg" class="img-fluid w-100" alt="">
    </div>
  </div>
  <div class="px-5 fondo-servicios">
    <div class="container bg-humo2 py-5">
      <div class="row d-flex align-items-center">
        <div class="col-4 py-5 px-lg-5 px-1 text-start text-marron">
          <h4 class="mb-0 text-center fw-bold titulo text-humo">Nuestros Servicios</h4>
          <p class="mt-1 ps-2 lh-1 text-justify texto text-dark fw-bold">Todas nuestras reservas tienen incluido los
            siguientes
            servicios</p>
        </div>
        <div class="col-8">
          <div class="row text-marron texto">
            <div class="col-3 p-3 text-center lh-sm">
              <i class="fas fa-utensils fs-1 mb-1"></i>
              <p class="fw-bold mt-0 text-humo sombra-1"><small>Restaurante</small></p>
            </div>
            <div class="col-3 p-3 text-center lh-sm">
              <i class="fas fa-cocktail fs-1 mb-1"></i>
              <p class="fw-bold mt-0 text-humo sombra-1"><small>Bar</small></p>
            </div>
            <div class="col-3 p-3 text-center lh-sm">
              <i class="fa fa-wifi fs-1 mb-1" aria-hidden="true"></i>
              <!-- <i class="fas fa-bed fs-1 mb-1"></i> -->
              <p class="fw-bold mt-0 text-humo sombra-1"><small>Wi-Fi</small></p>
            </div>
            <div class="col-3 p-3 text-center lh-sm">
              <i class="fas fa-suitcase-rolling fs-1 mb-1"></i>
              <p class="fw-bold mt-0 text-humo sombra-1"><small>Equipaje</small></p>
            </div>
            <div class="col-3 p-3 text-center lh-sm">
              <i class="fas fa-info fs-1 mb-1"></i>
              <p class="fw-bold mt-0 text-humo sombra-1"><small>Informacion</small></p>
            </div>
            <div class="col-3 p-3 text-center lh-sm">
              <i class="fas fa-door-closed fs-1 mb-1"></i>
              <p class="fw-bold mt-0 text-humo sombra-1"><small>Ascensor</small></p>
            </div>
            <div class="col-3 p-3 text-center lh-sm">
              <i class="fas fa-car-side fs-1 mb-1"></i>
              <p class="fw-bold mt-0 text-humo sombra-1"><small>Carros</small></p>
            </div>
            <div class="col-3 p-3 text-center lh-sm">
              <i class="fa fa-phone fs-1 mb-1" aria-hidden="true"></i>
              <p class="fw-bold mt-0 text-humo sombra-1"><small>Telefono</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<article class="w-100">
  <div class="container-fluid mt-5">
    <h1 class="text-center fw-bold text-marron titulo">¡Mira dentro!</h1>
    <div class="row d-flex align-items-center mt-5">
      <div class="col-5 text-center">
        <img src="../../assets/image/Recursos/Sonesta.png" class="img-fluid" width="40%" alt="">
        <div class="container px-5">
          <h3 class="text-marron titulo">HOTEL SAN FRANCISCO</h3>
          <p class="text-justify fw-light lh-1 texto"><small>Somos una cadena hotelera peruana y cusqueña, enfocada en
              brindar
              a nuestros huéspedes una experiencia diferente y llena de momentos inolvidables.</small></p>
        </div>
      </div>
      <div class="col-7">
        <div class="carousel" data-flickity='{ "fullscreen": true, "lazyLoad": 2 }'>
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c1.jpg" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c3.jpg" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c2.jpg" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c5.jpg" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c4.jpg" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c6.jpg" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c7.jpg" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c1.jpg" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c3.jpg" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c2.jpg" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c5.jpg" />
          <img class="carousel-image" data-flickity-lazyload="../../assets/image/c6.jpg" />
        </div>
      </div>
    </div>
  </div>
  <div class="mx-0 py-3">
    <div class="container mx-auto contact-form">
      <div class="contact-image">
        <img src="../../assets/image/Recursos/logo-forn.png" alt="rocket_contact" />
      </div>
      <form method="post">
        <h3 class="text-marron titulo">Contactanos</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" name="txtName" class="form-control formulario texto" placeholder="Your Name *"
                value="" />
            </div>
            <div class="form-group my-2">
              <input type="text" name="txtEmail" class="form-control formulario texto" placeholder="Your Email *"
                value="" />
            </div>
            <div class="form-group">
              <input type="text" name="txtPhone" class="form-control formulario texto" placeholder="Your Phone Number *"
                value="" />
            </div>
            <div class="form-group my-2 text-start">
              <input type="submit" name="btnSubmit" class="btnContact texto" value="Send Message" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <textarea name="txtMsg" class="form-control formulario texto" placeholder="Your Message *"
                style="width: 100%; height: 175px"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</article>

<footer-web></footer-web>