.maximo-1{
  max-height: auto;
  width: 100%;
}
.h-map{
  height: 450px;
}
.carrousel-navbar{
  margin-top: -9%;
  z-index: -1;
}
/* estilos habitaciones */
.ancho-roon{
  width: 85%;
}
@media only screen and (min-width: 769px) and (max-width: 991px){
  .ancho-roon{
    width: 100%;
  }
}
/* final de estilos habitaciones */
/* estilos de fondos */
.fondo-servicios {
  background-image: url("../../assets/image/Recursos/fondo-1.jpg");
  background-color: #cccccc;
  height: auto;
  padding: 10% 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* fin de estilos de fondo */
/* estilos carrousel galeria */
.carousel {
  background: #EEE;
}

.carousel-image {
  display: block;
  height: 300px;
  /* set min-width, allow images to set cell width */
  min-width: 150px;
  max-width: 100%;
  margin-right: 10px;
  /* vertically center */
  top: 50%;
  transform: translateY(-50%)
}

.carousel.is-fullscreen .carousel-image {
  height: auto;
  max-height: 100%;
}
/* final de estilos carrousel galeria */
/* estilos del mapa */
.map{
  width: 100%;
  height: 450px;
  border:0;
  border: #FCF3EA 5px ridge;
}
/* final del estilo del mapa */