<header-web (dataEvent)='setLanguage($event)'></header-web>
<section class="w-100 px-0 carrousel-navbar2">
  <img src="../../assets/image/Recursos/hotel.jpg" class="img-fluid w-100" alt="">
  <div class="text-center p-titulo">
    <h5 class="text-white texto fw-bold" style="margin-bottom: -13px;">{{ 'plaza.hotel' | translate }}</h5>
    <h1 class="mb-0 fw-bold display-3 text-white titulo sombra-2">{{ 'plaza.title' | translate }}</h1>
    <div class="container-fluid px-0" style="margin-top: -11px;">
      <div class="card border-bottom shadow-lg">
        <div class="col-md-6 offset-md-3 col-12 py-3">
          <div class="card-body text-center pb-1">
            <p class="text-dark text-start texto lh-1 text-justify fw-bold">{{ 'plaza.text' | translate }} </p>
          </div>
          <h4 class="titulo text-marron">“{{ 'plaza.subtitle' | translate }}”</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-5 container-fluid text-center bg-humo2">
    <div class="row">
      <div class="col-12 py-3 text-center w-100">
        <h1 class="fw-bold titulo text-marron">{{ 'roon' | translate }}</h1>
      </div>
      <div class="container px-5">
        <div class="col-12">
          <div class="row">
            <div class="m-3 col-md-4 col-12 mx-auto text-center">
              <div class="card border-0 ancho-roon">
                <img src="../../assets/image/Galeria/habitaciones/psuite-3.jpg"
                  class="card-img-top img-fluid border border-secondary rounded-0" alt="...">
                <div class="card-body shadow text-center text-marron">
                  <h4 class="card-title fw-bold titulo">{{ 'plaza.suit' | translate }}</h4>
                  <div class="row mx-0 d-flex align-items-center">
                    <div class="col-6 p-0 text-center">
                      <div class="py-3 px-3 mb-2 border-end">
                        <h5 class="fw-normal mb-0 texto">{{ 'desde' | translate }}</h5>
                        <h5 class="fw-bold mt-0 texto">$200</h5>
                      </div>
                      <button type="button" class="btn btn-sm bg-marron rounded-0"><small
                          class="text-white texto">{{ 'reservar' | translate }}</small></button>
                    </div>
                    <div class="col-6 p-0 text-center texto">
                      <div class="border-start lh-sm py-2 ps-3 mb-2">
                        <h4 class="fw-bold mb-0 lh-1">2</h4>
                        <h5 class="fw-normal mt-0 lh-1"><span style="font-size: 17px;">{{ 'max' | translate }}</span> <br> {{ 'person' | translate }}</h5>
                      </div>
                      <button type="button" class="btn btn-sm bg-marron rounded-0 ms-3" data-bs-toggle="modal"
                        data-bs-target="#modal-1"><small class="text-white texto">{{ 'desc' | translate }}</small></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="m-3 col-md-4 col-12 mx-auto text-center">
              <div class="card border-0 ancho-roon">
                <img src="../../assets/image/Galeria/habitaciones/pmatri-1.jpg"
                  class="card-img-top img-fluid border border-secondary rounded-0" alt="...">
                <div class="card-body shadow text-marron">
                  <h4 class="card-title fw-bold titulo">{{ 'plaza.matrimonial' | translate }}</h4>
                  <div class="row mx-0 d-flex align-items-center">
                    <div class="col-6 p-0 text-center">
                      <div class="py-3 px-3 mb-2 border-end">
                        <h5 class="fw-normal mb-0 texto">{{ 'desde' | translate }}</h5>
                        <h5 class="fw-bold mt-0 texto">$90</h5>
                      </div>
                      <button type="button" class="btn btn-sm bg-marron rounded-0"><small
                          class="text-white texto">{{ 'reservar' | translate }}</small></button>
                    </div>
                    <div class="col-6 p-0 text-center texto">
                      <div class="border-start lh-sm py-2 ps-3 mb-2">
                        <h4 class="fw-bold mb-0 lh-1">2</h4>
                        <h5 class="fw-normal mt-0 lh-1"><span style="font-size: 17px;">{{ 'max' | translate }}</span> <br> {{ 'person' | translate }}</h5>
                      </div>
                      <button type="button" class="btn btn-sm bg-marron rounded-0 ms-3" data-bs-toggle="modal"
                        data-bs-target="#modal-2"><small class="text-white texto">{{ 'desc' | translate }}</small></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="m-3 col-md-4 col-12 mx-auto text-center">
              <div class="card border-0 ancho-roon">
                <img src="../../assets/image/Galeria/habitaciones/pfamiliar-1.jpg"
                  class="card-img-top img-fluid border border-secondary rounded-0" alt="...">
                <div class="card-body shadow text-marron">
                  <h4 class="card-title fw-bold titulo">{{ 'plaza.familiar' | translate }}</h4>
                  <div class="row mx-0 d-flex align-items-center">
                    <div class="col-6 p-0 text-center">
                      <div class="py-3 px-3 mb-2 border-end">
                        <h5 class="fw-normal mb-0 texto">{{ 'desde' | translate }}</h5>
                        <h5 class="fw-bold mt-0 texto">$130</h5>
                      </div>
                      <button type="button" class="btn btn-sm bg-marron rounded-0"><small
                          class="text-white texto">{{ 'reservar' | translate }}</small></button>
                    </div>
                    <div class="col-6 p-0 text-center texto">
                      <div class="border-start lh-sm py-2 ps-3 mb-2">
                        <h4 class="fw-bold mb-0 lh-1">3</h4>
                        <h5 class="fw-normal mt-0 lh-1"><span style="font-size: 17px;">{{ 'max' | translate }}</span> <br> {{ 'person' | translate }}</h5>
                      </div>
                      <button type="button" class="btn btn-sm bg-marron rounded-0 ms-3" data-bs-toggle="modal"
                        data-bs-target="#modal-3"><small class="text-white texto">{{ 'desc' | translate }}</small></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 py-5">
              <a class="titulo text-marron text-decoration-none" data-bs-toggle="collapse" href="#collapse-1"
                role="button" aria-expanded="false" aria-controls="collapseExample">
                <h3>{{ 'mas' | translate }}</h3>
              </a>
              <div class="collapse" id="collapse-1">
                <div class="w-100">
                  <div class="row">
                    <div class="m-3 col-md-4 col-12 mx-auto text-center">
                      <div class="card border-0 ancho-roon">
                        <img src="../../assets/image/Galeria/habitaciones/psimple-1.jpg"
                          class="card-img-top img-fluid border border-secondary rounded-0" alt="...">
                        <div class="card-body shadow text-center text-marron">
                          <h4 class="card-title fw-bold titulo">{{ 'plaza.simple' | translate }}</h4>
                          <div class="row mx-0 d-flex align-items-center">
                            <div class="col-6 p-0 text-center">
                              <div class="py-3 px-3 mb-2 border-end">
                                <h5 class="fw-normal mb-0 texto">{{ 'desde' | translate }}</h5>
                                <h5 class="fw-bold mt-0 texto">$90</h5>
                              </div>
                              <button type="button" class="btn btn-sm bg-marron rounded-0"><small
                                  class="text-white texto">{{ 'reservar' | translate }}</small></button>
                            </div>
                            <div class="col-6 p-0 text-center texto">
                              <div class="border-start lh-sm py-2 ps-3 mb-2">
                                <h4 class="fw-bold mb-0 lh-1">2</h4>
                                <h5 class="fw-normal mt-0 lh-1"><span style="font-size: 17px;">{{ 'max' | translate }}</span> <br> {{ 'person' | translate }}
                                </h5>
                              </div>
                              <button type="button" class="btn btn-sm bg-marron rounded-0 ms-3" data-bs-toggle="modal"
                                data-bs-target="#modal-4"><small class="text-white texto">{{ 'desc' | translate }}</small></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="m-3 col-md-4 col-12 mx-auto text-center">
                      <div class="card border-0 ancho-roon">
                        <img src="../../assets/image/Galeria/habitaciones/ptriple-1.jpg"
                          class="card-img-top img-fluid border border-secondary rounded-0" alt="...">
                        <div class="card-body shadow text-marron">
                          <h4 class="card-title fw-bold titulo">{{ 'plaza.triple' | translate }}</h4>
                          <div class="row mx-0 d-flex align-items-center">
                            <div class="col-6 p-0 text-center">
                              <div class="py-3 px-3 mb-2 border-end">
                                <h5 class="fw-normal mb-0 texto">{{ 'desde' | translate }}</h5>
                                <h5 class="fw-bold mt-0 texto">$130</h5>
                              </div>
                              <button type="button" class="btn btn-sm bg-marron rounded-0"><small
                                  class="text-white texto">{{ 'reservar' | translate }}</small></button>
                            </div>
                            <div class="col-6 p-0 text-center texto">
                              <div class="border-start lh-sm py-2 ps-3 mb-2">
                                <h4 class="fw-bold mb-0 lh-1">6</h4>
                                <h5 class="fw-normal mt-0 lh-1"><span style="font-size: 17px;">{{ 'max' | translate }}</span> <br> {{ 'person' | translate }}
                                </h5>
                              </div>
                              <button type="button" class="btn btn-sm bg-marron rounded-0 ms-3" data-bs-toggle="modal"
                                data-bs-target="#modal-5"><small class="text-white texto">{{ 'desc' | translate }}</small></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="m-3 col-md-4 col-12 mx-auto text-center">
                      <div class="card border-0 ancho-roon">
                        <img src="../../assets/image/Galeria/habitaciones/pdoble-2.jpg"
                          class="card-img-top img-fluid border border-secondary rounded-0" alt="...">
                        <div class="card-body shadow text-marron">
                          <h4 class="card-title fw-bold titulo">{{ 'plaza.doble' | translate }}</h4>
                          <div class="row mx-0 d-flex align-items-center">
                            <div class="col-6 p-0 text-center">
                              <div class="py-3 px-3 mb-2 border-end">
                                <h5 class="fw-normal mb-0 texto">{{ 'desde' | translate }}</h5>
                                <h5 class="fw-bold mt-0 texto">$90</h5>
                              </div>
                              <button type="button" class="btn btn-sm bg-marron rounded-0"><small
                                  class="text-white texto">{{ 'reservar' | translate }}</small></button>
                            </div>
                            <div class="col-6 p-0 text-center texto">
                              <div class="border-start lh-sm py-2 ps-3 mb-2">
                                <h4 class="fw-bold mb-0 lh-1">4</h4>
                                <h5 class="fw-normal mt-0 lh-1"><span style="font-size: 17px;">{{ 'max' | translate }}</span> <br> {{ 'person' | translate }}
                                </h5>
                              </div>
                              <button type="button" class="btn btn-sm bg-marron rounded-0 ms-3" data-bs-toggle="modal"
                                data-bs-target="#modal-6"><small class="text-white texto">{{ 'desc' | translate }}</small></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100">
          <div class="modal fade" id="modal-1" tabindex="-1" aria-labelledby="modal-1 Label" aria-hidden="true">
            <div class="modal-dialog px-0 modal-lg">
              <div class="container-fluid px-0 modal-content border border-1 rounded-0">
                <div class="container text-center pt-3">
                  <h5 class="titulo text-marron fw-bold">{{ 'plaza.suit' | translate }}</h5>
                </div>
                <div class="w-100 my-2 border-top"></div>
                <div class="container text-center">
                  <p class="fw-light texto">{{ 'plaza.suit_desc' | translate }}</p>
                </div>
                <div class="container-fluid px-0">
                  <iframe class="w-100" height="400px"
                    src="../../assets/otros/plaza/_suite/San Francisco Plaza Hotel Cusco - SUITE.html"
                    frameborder="0"></iframe>
                </div>
                <div class="row px-3 pt-2 d-flex align-items-center border-reserva">
                  <style>
                    .border-reserva {
                      border-left: solid #44312B 2px;
                    }
                  </style>
                  <div class="col-9 text-start">
                    <ul class="nav justify-content-center">
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-1.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'wifi' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-2.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="20%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'caja' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-3.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'baño' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-4.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'telefono' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-5.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="40%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'tv' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-6.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'despertar' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-7.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'calor' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-8.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="30%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'secadora' | translate }}</small></a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-3 border-reserva">
                    <button class="button-modal" role="button">{{ 'reservar' | translate }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="modal-2" tabindex="-1" aria-labelledby="modal-2 Label" aria-hidden="true">
            <div class="modal-dialog px-0  modal-lg">
              <div class="container-fluid px-0 modal-content border border-1 rounded-0">
                <div class="container text-center pt-3">
                  <h5 class="titulo text-marron fw-bold">{{ 'plaza.matrimonial' | translate }}</h5>
                </div>
                <div class="w-100 my-2 border-top"></div>
                <div class="container text-center">
                  <p class="fw-light texto">{{ 'plaza.matrimonial_desc' | translate }}</p>
                </div>
                <div class="container-fluid px-0">
                  <iframe class="w-100" height="400px"
                    src="../../assets/otros/plaza/_matrimonial/San Francisco Plaza Hotel Cusco - MATRIMONIAL.html"
                    frameborder="0"></iframe>
                </div>
                <div class="row px-3 pt-2 d-flex align-items-center">
                  <div class="col-9 text-start">
                    <ul class="nav justify-content-center">
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-1.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'wifi' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-2.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="20%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'caja' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-3.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'baño' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-4.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'telefono' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-5.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="40%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'tv' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-6.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'despertar' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-7.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'calor' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-8.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="30%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'secadora' | translate }}</small></a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-3">
                    <button class="button-modal" role="button">{{ 'reservar' | translate }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="modal-3" tabindex="-1" aria-labelledby="modal-3 Label" aria-hidden="true">
            <div class="modal-dialog px-0 modal-lg">
              <div class="container-fluid px-0 modal-content border border-1 rounded-0">
                <div class="container text-center pt-3">
                  <h5 class="titulo text-marron fw-bold">{{ 'plaza.familiar' | translate }}</h5>
                </div>
                <div class="w-100 my-2 border-top"></div>
                <div class="container text-center">
                  <p class="fw-light texto">{{ 'plaza.familiar_desc' | translate }}</p>
                </div>
                <div id="carrousel-3" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="../../assets/image/Galeria/habitaciones/pfamiliar-4.jpg" class="d-block img-fluid w-100"
                        alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../assets/image/Galeria/habitaciones/pfamiliar-2.jpg" class="d-block img-fluid w-100"
                        alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../assets/image/Galeria/habitaciones/pfamiliar-3.jpg" class="d-block img-fluid w-100"
                        alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carrousel-3"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carrousel-3"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <div class="row px-3 pt-2 d-flex align-items-center">
                  <div class="col-9 text-start">
                    <ul class="nav justify-content-center">
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-1.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'wifi' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-2.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="20%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'caja' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-3.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'baño' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-4.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'telefono' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-5.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="40%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'tv' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-6.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'despertar' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-7.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'calor' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-8.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="30%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'secadora' | translate }}</small></a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-3">
                    <button class="button-modal" role="button">{{ 'reservar' | translate }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="modal-4" tabindex="-1" aria-labelledby="modal-4 Label" aria-hidden="true">
            <div class="modal-dialog px-0 modal-lg">
              <div class="container-fluid px-0 modal-content border border-1 rounded-0">
                <div class="container text-center pt-3">
                  <h5 class="titulo text-marron fw-bold">{{ 'plaza.simple' | translate }}</h5>
                </div>
                <div class="w-100 my-2 border-top"></div>
                <div class="container text-center">
                  <p class="fw-light texto">{{ 'plaza.simple_desc' | translate }}</p>
                </div>
                <div id="carrousel-4" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="../../assets/image/Galeria/habitaciones/psimple-1.jpg" class="d-block img-fluid w-100"
                        alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../assets/image/Galeria/habitaciones/psimple-2.jpg" class="d-block img-fluid w-100"
                        alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../assets/image/Galeria/habitaciones/psimple-3.jpg" class="d-block img-fluid w-100"
                        alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carrousel-4"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carrousel-4"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>

                <div class="row px-3 pt-2 d-flex align-items-center border-reserva">
                  <style>
                    .border-reserva {
                      border-left: solid #44312B 2px;
                    }
                  </style>
                  <div class="col-9 text-start">
                    <ul class="nav justify-content-center">
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-1.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'wifi' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-2.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="20%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'caja' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-3.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'baño' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-4.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'telefono' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-5.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="40%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'tv' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-6.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'despertar' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-7.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'calor' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-8.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="30%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'secadora' | translate }}</small></a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-3 border-reserva">
                    <button class="button-modal" role="button">{{ 'reservar' | translate }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="modal-5" tabindex="-1" aria-labelledby="modal-5 Label" aria-hidden="true">
            <div class="modal-dialog px-0 modal-lg">
              <div class="container-fluid px-0 modal-content border border-1 rounded-0">
                <div class="container text-center pt-3">
                  <h5 class="titulo text-marron fw-bold">{{ 'plaza.triple' | translate }}</h5>
                </div>
                <div class="w-100 my-2 border-top"></div>
                <div class="container text-center">
                  <p class="fw-light texto">{{ 'plaza.triple_desc' | translate }}</p>
                </div>
                <div class="container-fluid px-0">
                  <iframe class="w-100" height="400px"
                    src="../../assets/otros/plaza/_triple/San Francisco Plaza Hotel Cusco - TRIPLE.html"
                    frameborder="0"></iframe>
                </div>
                <div class="row px-3 pt-2 d-flex align-items-center border-reserva">
                  <style>
                    .border-reserva {
                      border-left: solid #44312B 2px;
                    }
                  </style>
                  <div class="col-9 text-start">
                    <ul class="nav justify-content-center">
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-1.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'wifi' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-2.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="20%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'caja' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-3.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'baño' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-4.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'telefono' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-5.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="40%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'tv' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-6.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'despertar' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-7.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'calor' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-8.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="30%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'secadora' | translate }}</small></a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-3 border-reserva">
                    <button class="button-modal" role="button">{{ 'reservar' | translate }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="modal-6" tabindex="-1" aria-labelledby="modal-6 Label" aria-hidden="true">
            <div class="modal-dialog px-0 modal-lg">
              <div class="container-fluid px-0 modal-content border border-1 rounded-0">
                <div class="container text-center pt-3">
                  <h5 class="titulo text-marron fw-bold">{{ 'plaza.doble' | translate }}</h5>
                </div>
                <div class="w-100 my-2 border-top"></div>
                <div class="container text-center">
                  <p class="fw-light texto">{{ 'plaza.doble_desc' | translate }}</p>
                </div>
                <div class="container-fluid px-0">
                  <iframe class="w-100" height="400px"
                    src="../../assets/otros/plaza/_double/San Francisco Plaza Hotel Cusco - DOUBLE.html"
                    frameborder="0"></iframe>
                </div>
                <div class="row px-3 pt-2 d-flex align-items-center border-reserva">
                  <style>
                    .border-reserva {
                      border-left: solid #44312B 2px;
                    }
                  </style>
                  <div class="col-9 text-start">
                    <ul class="nav justify-content-center">
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-1.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'wifi' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-2.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="20%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'caja' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-3.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'baño' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-4.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'telefono' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-5.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="40%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'tv' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-6.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'despertar' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-7.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="35%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'calor' | translate }}</small></a>
                      </li>
                      <li class="nav-item text-center">
                        <img src="../../assets/image/Recursos/icono-8.png" class="img-fluid"
                          style="margin-bottom: -15px;" width="30%" alt="">
                        <a class="nav-link servicios texto text-marron" href="#"><small>{{ 'secadora' | translate }}</small></a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-3 border-reserva">
                    <button class="button-modal" role="button">{{ 'reservar' | translate }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-5 fondo-servicios">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 col-12 bg-negro py-5">
          <div class="row text-white">
            <div class="col-12 text-center">
              <h3 class="text-white titulo fw-bold">{{ 'servicios' | translate }}</h3>
            </div>
            <div class="col-md-3 col-6 p-3 text-center lh-sm">
              <img src="../../assets/image/Recursos/ico-1.png" class="img-fluid mb-2" alt="">
              <p class="mb-0 fw-bold titulo">{{ 'bar' | translate }}</p>
              <p class="servicios lh-1 texto"><small>{{ 'bar_desc' | translate }}</small></p>
            </div>
            <div class="col-md-3 col-6 p-3 text-center lh-sm">
              <img src="../../assets/image/Recursos/ico-2.png" class="img-fluid mb-2" alt="">
              <p class="mb-0 fw-bold titulo">{{ 'restaurant' | translate }}</p>
              <p class="servicios lh-1 texto"><small>{{ 'restaurant_desc' | translate }}</small></p>
            </div>
            <div class="col-md-3 col-6 p-3 text-center lh-sm">
              <img src="../../assets/image/Recursos/ico-3.png" class="img-fluid mb-2" alt="">
              <p class="mb-0 fw-bold titulo">{{ 'despertar' | translate }}</p>
              <p class="servicios lh-1 texto"><small>{{ 'despertar_desc' | translate }}</small></p>
            </div>
            <div class="col-md-3 col-6 p-3 text-center lh-sm">
              <img src="../../assets/image/Recursos/ico-4.png" class="img-fluid mb-2" alt="">
              <p class="mb-0 fw-bold titulo">{{ 'wifi' | translate }}</p>
              <p class="servicios lh-1 texto"><small>{{ 'wifi_desc' | translate }}</small></p>
            </div>
            <div class="col-md-3 col-6 p-3 text-center lh-sm">
              <img src="../../assets/image/Recursos/ico-5.png" class="img-fluid mb-2" alt="">
              <p class="mb-0 fw-bold titulo">{{ 'informacion' | translate }}</p>
              <p class="servicios lh-1 texto"><small>{{ 'informacion_desc' | translate }}</small></p>
            </div>
            <div class="col-md-3 col-6 p-3 text-center lh-sm">
              <img src="../../assets/image/Recursos/ico-6.png" class="img-fluid mb-2" alt="">
              <p class="mb-0 fw-bold titulo">{{ 'equipaje' | translate }}</p>
              <p class="servicios lh-1 texto"><small>{{ 'equipaje_desc' | translate }}</small></p>
            </div>
            <div class="col-md-3 col-6 p-3 text-center lh-sm">
              <img src="../../assets/image/Recursos/ico-8.png" class="img-fluid mb-2" alt="">
              <p class="mb-0 fw-bold titulo">{{ 'telefono' | translate }}</p>
              <p class="servicios lh-1 texto"><small>{{ 'telefono_desc' | translate }}</small></p>
            </div>
            <div class="col-md-3 col-6 p-3 text-center lh-sm">
              <img src="../../assets/image/Recursos/ico-9.png" class="img-fluid mb-2" alt="">
              <p class="mb-0 fw-bold titulo">{{ 'transporte' | translate }}</p>
              <p class="servicios lh-1 texto"><small>{{ 'transporte_desc' | translate }}</small></p>
            </div>
            <!-- <div class="col-3 p-3 text-center lh-sm">
              <a data-bs-toggle="collapse" href="#servis-8" role="button" aria-expanded="false" aria-controls="servis-8"><i class="fas fa-utensils fs-1 mb-1 text-marron"></i></a>
              <div class="collapse" id="servis-8">
                <p class="texto"><small>Lorem, ipsum dolor.</small></p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="container-fluid">
  <div class="row my-5 d-flex align-items-center bg-humo">
    <div class="col-md-8 col-12 p-0">
      <div class="carousel" data-flickity='{ "fullscreen": true, "lazyLoad": 3, "autoPlay": true }'>
        <img class="carousel-image" data-flickity-lazyload="../../assets/image/Galeria/plaza/plaza-1.JPG" />
        <img class="carousel-image" data-flickity-lazyload="../../assets/image/Galeria/plaza/plaza-2.JPG" />
        <img class="carousel-image" data-flickity-lazyload="../../assets/image/Galeria/plaza/plaza-3.JPG" />
        <img class="carousel-image" data-flickity-lazyload="../../assets/image/Galeria/plaza/plaza-4.JPG" />
        <img class="carousel-image" data-flickity-lazyload="../../assets/image/Galeria/plaza/plaza-5.JPG" />
        <img class="carousel-image" data-flickity-lazyload="../../assets/image/Galeria/plaza/plaza-6.JPG" />
        <img class="carousel-image" data-flickity-lazyload="../../assets/image/Galeria/plaza/plaza-7.JPG" />
        <img class="carousel-image" data-flickity-lazyload="../../assets/image/Galeria/plaza/plaza-8.JPG" />
      </div>
    </div>
    <div class="col-md-4 col-12 p-5">
      <div class="container text-start">
        <h3 class="fw-bold text-marron titulo text-center"><u>{{ 'plaza.name' | translate }}</u></h3>
        <p class="fw-normal text-justify texto lh-sm">{{ 'inka.desc' | translate }}</p>
      </div>
    </div>
  </div>
</section>
<article class="mx-0 px-0">
  <div class="container-fluid my-5 px-0">
    <!-- <h1 class="text-center fw-bold">Galeria</h1> -->
    <div class="w-100">
      <iframe class="w-100" height="550px"
        src="../../assets/otros/plaza/_restaurante/San Francisco Plaza Hotel Cusco - RESTAURANT.html"
        frameborder="0"></iframe>
    </div>
    <div class="row">
      <!-- <div class="col-5 text-center">
        <img src="../../assets/image/Recursos/Sonesta.png" class="img-fluid" width="40%" alt="">
        <div class="container">
          <h3 class="text-marron">HOTEL SAN FRANCISCO</h3>
          <p class="text-start fw-light lh-sm"><small>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Repudiandae, illo quibusdam possimus quae totam minus.</small></p>
        </div>
      </div> -->
      <!-- <div class="col-8 offset-2">
        <div class="carousel" data-flickity='{ "fullscreen": true, "lazyLoad": 2 }'>
          <img class="carousel-image" data-flickity-lazyload="https://picsum.photos/720/540/?image=517" />
          <img class="carousel-image" data-flickity-lazyload="https://picsum.photos/540/720/?image=696" />
          <img class="carousel-image" data-flickity-lazyload="https://picsum.photos/720/540/?image=56" />
          <img class="carousel-image" data-flickity-lazyload="https://picsum.photos/800/500/?image=1084" />
          <img class="carousel-image" data-flickity-lazyload="https://picsum.photos/720/540/?image=1080" />
          <img class="carousel-image" data-flickity-lazyload="https://picsum.photos/640/640/?image=1074" />
          <img class="carousel-image" data-flickity-lazyload="https://picsum.photos/720/540/?image=1069" />
          <img class="carousel-image" data-flickity-lazyload="https://picsum.photos/800/500/?image=1062" />
          <img class="carousel-image" data-flickity-lazyload="https://picsum.photos/720/540/?image=1002" />
          <img class="carousel-image" data-flickity-lazyload="https://picsum.photos/640/640/?image=935" />
          <img class="carousel-image" data-flickity-lazyload="https://picsum.photos/720/540/?image=855" />
          <img class="carousel-image" data-flickity-lazyload="https://picsum.photos/640/640/?image=824" />
        </div>
      </div> -->
      <div class="col-md-6 offset-md-3 my-5">
        <div class='box'>
          <div class='box-inner text-center'>
            <h4 class="card-title titulo text-marron">{{ 'conocenos' | translate }}</h4>
            <p class="card-text text-start texto lh-sm">{{ 'plaza.conocenos_desc' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<section class="w-100 fondo-mapa mb-5">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-4 col-12 p-md-4 p-1">
        <div class="card border-0 bg-transparent" style="width: auto;">
          <div class="card-body text-start bg-humo2 text-start mt-0 mx-lg-3 mx-1 px-lg-3 px-1">
            <div class="mb-4 text-center pt-2 pb-1" style="background-color: #512206c5; margin:0 -15%">
              <h2 class="card-title text-white titulo">{{ 'contacto' | translate }}</h2>
            </div>
            <div class="mt-2 text-start pt-2 px-3 pb-1 texto lh-1">
              <p class="text-marron  mb-0"><small class="fw-bold">{{ 'email' | translate }} <a href=""
                    class="text-decoration-none text-dark">reservas_psfhotel@homail.com</a></small></p>
              <p class="text-marron  mt-1 mb-0"><small class="fw-bold">{{ 'telefono' | translate }} <span class="text-dark me-2">084
                    253932</span>{{ 'cell' | translate }} <span class="text-dark">974 790 644</span></small></p>
              <p class="text-marron  mt-1"><small class="fw-bold">{{ 'direccion' | translate }} <span class="text-dark">Calle ceniza N° 147
                    - Cusco</span> </small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-12" style="margin-bottom: -70px;">
        <iframe
          src="https://www.google.com/maps/embed?pb=!4v1642171410552!6m8!1m7!1sc_LRyOlHqjn90m5ueWaZhw!2m2!1d-13.51785866131317!2d-71.98406863756753!3f187.75919354174337!4f-9.836401828138847!5f0.7820865974627469"
          class="map sonbra-map" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</section>
<footer-web></footer-web>